/* colours */
:root {
  --dark-brown: #734429;
  --light-brown: #D9C3B0;
  --off-white: #F2F2F2;
  --background-blue: #E5F5FB;
  --grey: #f0f0f0;

  --h1: normal 800 2.5rem 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
  --h2: normal 800 2rem 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
  --h3: normal 700 1.5rem "Raleway", sans-serif;
  --body: normal 500 1.125rem "Raleway", sans-serif;
  --cta: normal 600 1.125rem "Raleway", sans-serif;
}



/*
Font Sizes:
10px = 0.625rem
12px = 0.75rem      captions sorting
14px = 0.875rem 
16px = 1rem         (base) regular (400) - body, medium (500) - subhead 2
18px = 1.125rem     medium (500)- buttons + subhead 1
20px = 1.25rem      medium (500)- page header
24px = 1.5rem       medium (500)- home pic caption text
30px = 1.875rem
32px = 2rem         regular (400) - picture headers

*/

body {
  margin: auto;
  padding-top: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font: var(--body);
  background-color: var(--background-blue);
  /* overflow-x: hidden; /*prevent drop down menu overflow*/
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font: var(--h1);
}

h2{
  font: var(--h2);
}

h3{
  font: var(--h3);
  margin: 0;
}

figure.wp-block-gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.search-form,
main{
  max-width: 1300px;
  margin: 0 auto;
}

/*-------------- Navigation -------------*/
/*logo*/
.logo-header{
  max-width: 1200px;
  margin: 0 auto;
  height: fit-content;
  max-height: 100px;
}

.logo-header img{
  max-height: 100px;
  margin: 0;
  width: 100%;
  max-width: 555px;
}

/*nav bar*/
nav{
  width: 100%;
  min-height: 70px;
  background-color: var(--light-brown);
  position: relative;
}

nav ul{
  line-height: 70px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.hide-menu{
  display: none;  
}

nav li{
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.5rem; 
  font-weight: 700;
}


nav li a:hover{
  background-color: var(--dark-brown);
  color: var(--off-white);
}

nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

/* search */
.hidden-search{
  display: none;
}


.search-container{
  background-color: #D9C3B0;
  height: 69px;
}

.search-form{
  position: relative;
  width: 40%;
  min-width: 300px;
}

.search-container .search-btn{
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px;
  top: 0;
  right: -6px;
}

.search-input{
  width: 100%;
  font: var(--body);
  height: 53px;
  border: 2px solid var(--dark-brown);
}
/*hamburger menu icon and animation*/

nav button {
  position: absolute;
  width: 18vw;
  height: 70px;
  max-width: 70px;
  right: 10px;
  top: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  position: absolute;
  width: 15vw;
  max-width: 60px;
  height: 8px;
  border-radius: 5px;
  background-color: black;
  transition: all 0.5s ease-in-out;
  left: 3px;
}

.line1 {
  top: 10px;
}

.line2 {
  top: 30px;
}

.line3 {
  top: 50px;
}

.menu-open-transparent{
  background-color: transparent;
}

.menu-open-rotate1{
  transform: rotate(45deg);
  top: 30px;
  width: 15vw;
}

.menu-open-rotate3 {
  transform: rotate(-45deg);
  top: 30px;
  width: 15vw;
}


/*----Heading-----*/

h1, h2{
  background-color: var(--light-brown);
  margin-top: 15px;
  text-align: center;
}

.index-heading {
  margin: 0;
  position: relative;
  height: 450px;
  background-image: url("/images/green_fields_banner.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;

}

.index-heading img{
  width: 100%;
}

/*-----Main page layout-------*/



/*-----footer------*/

footer{
  background-color: var(--light-brown);
}

footer div {
  max-width: 1300px;
  width: 98%;
  margin: 0 auto;
}

/*------Loader styles------*/

.loader{
  padding: 30px;
  grid-column: -1/1;
  position: relative;
  text-align: center;
}

.inner-loader,
.outer-loader {
  display: inline-block;
  border: 16px solid var(--grey);
  border-top: 16px solid var(--dark-brown);
  border-bottom: 16px solid var(--dark-brown);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  animation: inner-spin 2s linear infinite;
}

.inner-loader {
  border: 12px solid var(--grey);
  border-top: 12px solid var(--dark-brown);
  border-bottom: 12px solid var(--dark-brown);
  width: 60px;
  height: 60px;
  animation: outer-spin 2s linear infinite;
  margin-bottom: 33px;
  margin-left: -120px;
}

@keyframes inner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes outer-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*------post items and slider css---------*/
.post-results-container,
.main-content{
  overflow: hidden;
}

.latest-post-slider-container{
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}

.latest-post-slider{
  display: flex;
  transition: 1s;
  /*js adds width to container*/
}

.post-details{
  font-weight: 700;
}

.post-details{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post-container {
  padding: 10px;
  overflow: hidden;
}
.post-image{
  object-fit: cover;
  max-height: 250px;
  width: 100%;
}

.post-image-container{
  position: relative;
}

.author-image img{
  position: absolute;
  border-radius: 50%;
  max-width: 80px;
  border: 1px solid black;
  bottom: 10px;
  right: 20px;
}

.author-text{
  margin-right: 105px;
}

.post-date{
  height: 40px;
  display: flex;
  justify-content: flex-start;
  gap:0 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/*----Buttons plus slider buttons-----*/
.slider-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.cta{
  background-color: var(--dark-brown);
  color: var(--off-white);
  border: none;
  padding: 10px;
  font: var(--cta);
}

.cta:hover{
  background-color: var(--light-brown);
  color: black;
}

.latest-previous, 
.latest-next {
  min-width: 140px;
}

.show-more-results:disabled,
.latest-next:disabled,
.latest-previous:disabled{
  opacity: 0.2;
}

/*social and sponsor*/
.social-media{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.social-media-icons{
  max-height: 70px;
}

.signup-form{
  position: relative;
  text-align: center;
}

.signup-input {
  height: 39px;
  border: 1px solid var(--dark-brown);
  padding: 0px;
  width: 90%;
}

.signup-submit{
  position: absolute;
  right: 5%;
}

.sponsor-logo-image{
  width: 100%;
}

.leo-sponsor-comment{
  display: grid;
  grid-template-columns: 1fr 100px;
}

.leo-sponsor-comment img{
  width: 100%;
}

.leo-sponsor-comment p{
  border: 1px solid black;
  height: fit-content;
  padding: 15px;
  border-radius: 20px
}

@media only screen and (min-width: 700px) {
  nav button {
    display: none;
  }

  nav ul{
    vertical-align: middle;
    line-height: 70px;
    margin: 0 auto;
    max-width: 1300px;
    width: 99%;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  
  nav li:nth-last-of-type(2) {
    margin-left: auto;
  }
  
  nav li{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5rem; 
    font-weight: 700;
  }

  .hide-menu{
    display: flex;  
  }


}

@media only screen and (min-width: 680px) {
   /*------post items-------*/
   .post-results-container,
   .social-container, 
   .latest-slider-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 20px 10px;
  }

  .post-results-container,
  .social-container{
    grid-template-rows: 1fr;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 850px) {

}

@media only screen and (min-width: 1100px){


}