
.heading-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font: normal 800 2rem 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}

h1{
    font-size: 3rem;
    background-color: transparent;
}