
.heading-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font: normal 800 2rem 'Courgette', cursive;
  color: white;
  text-align: center;
}

h1{
    font-size: 3rem;
    background-color: transparent;
}
.latest-post-heading{
  margin-top: 0;
}

.index-heading {
  height: 480px;
  background-image: url("/images/leo_banner_small.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (min-width: 850px) {
  .index-heading {
    background-image: url("/images/leo_banner_small.jpg");
    background-repeat: no-repeat;
    background-position: right center;
  }
}

@media only screen and (min-width: 1100px) {
  .index-heading {
    background-image: url("/images/leo_banner_small.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

