.expanded-image-modal{
  position: fixed;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* doesn't work on images
.expanded-image-modal::after{
  font: var(--body);
  display: inline-block;
  content: "";
  color: black;
  position: fixed;
  top: 0;

} */

.modal-background-container{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(115, 68, 41, 0.9) ;
  z-index: 1;
  top: 0;
  left: 0;
}

.post-comment-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  margin: 15px auto;
  gap: 10px;
}

.post-specific-wrapper{
  max-width: 900px;
  margin: 0px auto;
}

.comments-container{
  max-width: 700px;
  margin: 0 auto;
}

.comments-container div{

  margin-top: 15px;
}

.comment-left,
.comment-right {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.comment-left {
  grid-template-columns: 1fr auto;
}

.comment-img{
  width: 100%;
  max-width: 100px;
}

.comment-right div,
.comment-left div {
  margin-left: auto;
  margin-bottom: auto;
  width: 80%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
}
.comment-right div{
margin-left: 0;
}

.comment-right p,
.comment-left p {
  padding: 10px;
  margin: 0;
  word-break: break-all;
  white-space: normal;
}