.expanded-image-modal{
  position: fixed;
  display: block;
  width: 100%;
  max-width: 80vw;
  max-height: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal-background-container{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(115, 68, 41, 0.9) ;
  z-index: 1;
  top: 0;
  left: 0;
}